{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{% for item in items %}
    <div{{ attributes.addClass(classes, 'field__item') }}>
      <a href="{{ file_url(item.content['#file'].uri.value) }}" target="_blank">
        {{ 'Download Schedule'|t }}
        <svg class="icon icon--clock"><use xlink:href="#icon-clock"></use></svg>
      </a>
    </div>
{% endfor %}
