@import url('//fast.fonts.net/t/1.css?apiType=css&projectid=ef497281-3e98-4bcd-b5c9-eceb5989a644');

@font-face {
  font-family: 'Helvetica LT W01 Light';
  src: url('../fonts/3a74c169-76ee-4223-b4b4-aac92e8da5ec.eot?#iefix');
  src: url('../fonts/3a74c169-76ee-4223-b4b4-aac92e8da5ec.eot?#iefix') format('eot'), url('../fonts/37953885-0443-4c72-a693-9152a9f5a901.woff2') format('woff2'), url('../fonts/fcce277c-07e2-4c88-ad8b-a71b484e2cbe.woff') format('woff'), url('../fonts/315bbeb9-a30f-4f38-91ae-d6cfbbf89437.ttf') format('truetype'), url('../fonts/507e1538-09ae-429d-a77c-b0fd539aea7f.svgrgba(80, 126, 21, 0.21961)-09ae-429d-a77c-b0fd539aea7f') format('svg');
}

@font-face {
  font-family: 'Helvetica LT W01 Roman';
  src: url('../fonts/05598d95-f297-4c7f-a825-ab617e7e045f.eot?#iefix');
  src: url('../fonts/05598d95-f297-4c7f-a825-ab617e7e045f.eot?#iefix') format('eot'), url('../fonts/89294146-207c-4803-91fe-338f0d0094bd.woff2') format('woff2'), url('../fonts/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff') format('woff'), url('../fonts/2922d55c-8df4-4066-b7b0-eec2d1524330.ttf') format('truetype'), url('../fonts/f8343ddf-e94d-471e-95b0-3b435acc2499.svgrgba(248, 52, 61, 0.87451)-e94d-471e-95b0-3b435acc2499') format('svg');
}

@font-face {
  font-family: 'Helvetica LT W01 Obliqu1489444';
  src: url('../fonts/d3ccb7ea-0438-4c8f-8d67-09fc47f702f8.eot?#iefix');
  src: url('../fonts/d3ccb7ea-0438-4c8f-8d67-09fc47f702f8.eot?#iefix') format('eot'), url('../fonts/ac4134ce-b28e-4df9-b88c-a67db965774e.woff2') format('woff2'), url('../fonts/6389110a-e983-4d95-8d1f-5a87de018aac.woff') format('woff'), url('../fonts/940b0050-c3b7-41ea-af4b-857bc9e8313d.ttf') format('truetype'), url('../fonts/10fdc723-bfd0-4462-b99c-a97a1b174b16.svgrgba(16, 253, 199, 0.13725)-bfd0-4462-b99c-a97a1b174b16') format('svg');
}

@font-face {
  font-family: 'Helvetica LT W01 Bold';
  src: url('../fonts/05f47e74-d17c-45af-86c3-8ab878fd4ec7.eot?#iefix');
  src: url('../fonts/05f47e74-d17c-45af-86c3-8ab878fd4ec7.eot?#iefix') format('eot'), url('../fonts/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2') format('woff2'), url('../fonts/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff') format('woff'), url('../fonts/8ebb9b04-d12d-488e-aa96-0bb6e6777336.ttf') format('truetype'), url('../fonts/7672ef16-fedc-4b60-8337-04b537a6ada5.svgrgba(118, 114, 239, 0.08627)-fedc-4b60-8337-04b537a6ada5') format('svg');
}
