// Various overrides for reveal modals
.reveal {
  overflow: visible;
  outline: none;
  padding-top: rem-calc(40);

  @include breakpoint(medium) {
    padding-bottom: rem-calc(50);
  }

  > img,
  > .field--name-field-video {
    box-shadow: 0 3px 10px 5px transparentize($black, 0.65);
    display: block;
    margin: 0 auto;
  }

  .close-button {
    @include close-button;
    @include close-button-size('medium');

    color: $white;
    right: map-get($closebutton-offset-horizontal, 'small');
    top: map-get($closebutton-offset-vertical, 'small');
    transition: color $transition-time;
    z-index: $reveal-zindex + 10;

    &:hover {
      color: $cubic-teal;
    }

    @include breakpoint(medium) {
      right: map-get($closebutton-offset-horizontal, 'medium');
      top: map-get($closebutton-offset-vertical, 'medium');
    }
  }
}
