{#
/**
 * @file
 * Theme override for a field.
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <svg class="icon icon--flag"><use xlink:href="#icon-flag"></use></svg>
  <div class="field__items">
    {% for item in items %}
      <p{{ item.attributes.addClass('field__item') }}>{{ item.content }}</p>
    {% endfor %}
  </div>
</div>
