{% extends 'paragraph.html.twig' %}
{% block content %}
  <div class="field-title">
    {{ content.field_title }}
  </div>
  <div class="grid">
    {{ content|without('field_title') }}
  </div>
{% endblock %}
