{#
Markup for the cubic_social_addthis theme function
#}
<div class="cubic-social-addthis clearfix">
  {% if twitter_only %}
    {# Twitter Only List #}
    <div class="addthis_inline_share_toolbox_2vb5"></div>
  {% else %}
    {# Full List #}
    <div class="addthis_inline_share_toolbox"></div>
  {% endif %}
</div>
